body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f0e3e3;
  background-color: rgb(0, 0, 0);
}

header, footer{
  text-align: right;
  padding-right: 5%;
  background-color: rgb(61, 36, 61);
  line-height: 5em;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

.instagram {
  padding-left: 25px;
  padding-top: 5px;
  margin: 1em;
  vertical-align: middle;
  background-image: url("img/icon-instagram.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.vk {
  padding-left: 25px;
  padding-top: 5px;
  vertical-align: middle;
  background-image: url("img/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 20px;
}

.naming {
  text-align: center;
  font-size: 3em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  background-image: url(img/naming-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: 650px;
  max-width: 100%;
}

.intro {
  text-align: center;
  font-size: 1.5em;
  padding-top: 3em;
}

.intro img {
  width: 900px;
}

.myWork h2 {
  font-size: 3em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em;
}

.myWork h3 {
  font-size: 1.5em;
  text-align: left;
  padding-left: 26%;
  padding-top: 0.5em;
}

.myWork p {
  padding-left: 30%;
}

.gallery-perview {
  text-align: center;
}

.gallery-perview img {
  padding: 15px;
  width: 270px;
}

.writeMe {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.1em;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: underline;
}

.gallery-nav {
  text-align: right;
  padding: 1em;
  padding-right: 3em;
}

.gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  padding: 5px 0;
  max-width: 928px;
}

.gallery h1{
  text-align: center;
  padding: 30px;
  font-size: 2em;
  letter-spacing: 0.1em;
}


